# Imported Required Libraries:

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from catboost import CatBoostRegressor

In [23]:
from sklearn.model_selection import train_test_split

# Loaded Training Data:

In [7]:
train_data = pd.read_csv('D:\\ML\\DL Repo\\JOB-A-THON - January 2023\\train.csv')

# Checking Training Data (Column names and it's values)

In [8]:
train_data.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,1,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum,64308
1,2,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum,515400
2,3,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum,64212
3,4,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum,97920
4,5,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold,59736

# Created valriables to store input data column names and categorical data column names:

In [9]:
train_columns = list(['gender','area','qualification','income','marital_status','vintage','claim_amount','num_policies','policy','type_of_policy'])
categorical_columns = list(['gender','area','qualification','income','num_policies','policy','type_of_policy']) #Required during training to distinguish Numerical and Non-Numerical data

# Spliting training data to be used for both training & validating the model:

In [10]:
X_train,X_test,Y_train,Y_test = train_test_split(train_data[train_columns],train_data['cltv'],test_size = 0.25,random_state = 1)

# Model Creation:

In [13]:
model = CatBoostRegressor(iterations=100,task_type='GPU',eval_metric='R2')

# Model trainging:

In [14]:
model.fit(X_train,Y_train,eval_set=(X_test,Y_test),cat_features=categorical_columns)

Learning rate set to 0.188521
0:	learn: 0.0528605	test: 0.0539148	best: 0.0539148 (0)	total: 8.13ms	remaining: 805ms
1:	total: 16.4ms	remaining: 802ms
2:	total: 24.7ms	remaining: 800ms
3:	total: 33.3ms	remaining: 798ms
4:	total: 41.7ms	remaining: 792ms
5:	learn: 0.1433721	test: 0.1447668	best: 0.1447668 (5)	total: 51.4ms	remaining: 806ms
6:	total: 59.7ms	remaining: 793ms
7:	total: 68ms	remaining: 782ms
8:	total: 76.5ms	remaining: 773ms

Default metric period is 5 because R2 is/are not implemented for GPU
Metric R2 is not implemented on GPU. Will use CPU for metric computation, this could significantly affect learning time

9:	total: 85.2ms	remaining: 767ms
10:	learn: 0.1557610	test: 0.1554923	best: 0.1554923 (10)	total: 95.3ms	remaining: 771ms
11:	total: 99.9ms	remaining: 733ms
12:	total: 105ms	remaining: 701ms
13:	total: 110ms	remaining: 673ms
14:	total: 115ms	remaining: 649ms
15:	learn: 0.1616571	test: 0.1600503	best: 0.1600503 (15)	total: 121ms	remaining: 633ms
16:	total: 125ms	remaining: 612ms
17:	total: 130ms	remaining: 592ms
18:	total: 135ms	remaining: 576ms
19:	total: 140ms	remaining: 561ms
20:	learn: 0.1636033	test: 0.1606538	best: 0.1606538 (20)	total: 146ms	remaining: 550ms
21:	total: 151ms	remaining: 536ms
22:	total: 156ms	remaining: 523ms
23:	total: 161ms	remaining: 510ms
24:	total: 166ms	remaining: 497ms
25:	learn: 0.1646584	test: 0.1606411	best: 0.1606538 (20)	total: 172ms	remaining: 489ms
26:	total: 180ms	remaining: 488ms
27:	total: 189ms	remaining: 486ms
28:	total: 198ms	remaining: 484ms
29:	total: 207ms	remaining: 482ms
30:	learn: 0.1660846	test: 0.1605799	best: 0.1606538 (20)	total: 216ms	remaining: 481ms
31:	total: 221ms	remaining: 469ms
32:	total: 225ms	remaining: 458ms
33:	total: 230ms	remaining: 447ms
34:	total: 235ms	remaining: 437ms
35:	learn: 0.1666763	test: 0.1603944	best: 0.1606538 (20)	total: 241ms	remaining: 429ms
36:	total: 250ms	remaining: 426ms
37:	total: 259ms	remaining: 422ms
38:	total: 268ms	remaining: 419ms
39:	total: 276ms	remaining: 415ms
40:	learn: 0.1674847	test: 0.1604757	best: 0.1606538 (20)	total: 287ms	remaining: 412ms
41:	total: 291ms	remaining: 402ms
42:	total: 296ms	remaining: 393ms
43:	total: 301ms	remaining: 384ms
44:	total: 306ms	remaining: 374ms
45:	learn: 0.1684464	test: 0.1601910	best: 0.1606538 (20)	total: 312ms	remaining: 366ms
46:	total: 318ms	remaining: 358ms
47:	total: 324ms	remaining: 351ms
48:	total: 330ms	remaining: 343ms
49:	total: 336ms	remaining: 336ms
50:	learn: 0.1690810	test: 0.1601074	best: 0.1606538 (20)	total: 343ms	remaining: 329ms
51:	total: 348ms	remaining: 321ms
52:	total: 353ms	remaining: 313ms
53:	total: 358ms	remaining: 305ms
54:	total: 363ms	remaining: 297ms
55:	learn: 0.1697898	test: 0.1601134	best: 0.1606538 (20)	total: 369ms	remaining: 290ms
56:	total: 374ms	remaining: 282ms
57:	total: 379ms	remaining: 274ms
58:	total: 384ms	remaining: 267ms
59:	total: 389ms	remaining: 259ms
60:	learn: 0.1704969	test: 0.1599226	best: 0.1606538 (20)	total: 395ms	remaining: 253ms
61:	total: 400ms	remaining: 245ms
62:	total: 405ms	remaining: 238ms
63:	total: 410ms	remaining: 231ms
64:	total: 415ms	remaining: 223ms
65:	learn: 0.1710791	test: 0.1597563	best: 0.1606538 (20)	total: 421ms	remaining: 217ms
66:	total: 425ms	remaining: 210ms
67:	total: 430ms	remaining: 203ms
68:	total: 435ms	remaining: 196ms
69:	total: 440ms	remaining: 189ms
70:	learn: 0.1715943	test: 0.1596982	best: 0.1606538 (20)	total: 446ms	remaining: 182ms
71:	total: 451ms	remaining: 175ms
72:	total: 456ms	remaining: 169ms
73:	total: 461ms	remaining: 162ms
74:	total: 466ms	remaining: 155ms
75:	learn: 0.1721086	test: 0.1595824	best: 0.1606538 (20)	total: 472ms	remaining: 149ms
76:	total: 477ms	remaining: 143ms
77:	total: 482ms	remaining: 136ms
78:	total: 487ms	remaining: 130ms
79:	total: 492ms	remaining: 123ms
80:	learn: 0.1725544	test: 0.1594926	best: 0.1606538 (20)	total: 499ms	remaining: 117ms
81:	total: 503ms	remaining: 111ms
82:	total: 508ms	remaining: 104ms
83:	total: 513ms	remaining: 97.8ms
84:	total: 519ms	remaining: 91.5ms
85:	learn: 0.1735334	test: 0.1593674	best: 0.1606538 (20)	total: 524ms	remaining: 85.4ms
86:	total: 530ms	remaining: 79.2ms
87:	total: 536ms	remaining: 73.1ms
88:	total: 542ms	remaining: 66.9ms
89:	total: 547ms	remaining: 60.8ms
90:	learn: 0.1741398	test: 0.1593745	best: 0.1606538 (20)	total: 554ms	remaining: 54.8ms
91:	total: 559ms	remaining: 48.6ms
92:	total: 564ms	remaining: 42.5ms
93:	total: 569ms	remaining: 36.3ms
94:	total: 574ms	remaining: 30.2ms
95:	learn: 0.1744843	test: 0.1592454	best: 0.1606538 (20)	total: 580ms	remaining: 24.2ms
96:	total: 589ms	remaining: 18.2ms
97:	total: 597ms	remaining: 12.2ms
98:	total: 606ms	remaining: 6.12ms
99:	learn: 0.1752242	test: 0.1592129	best: 0.1606538 (20)	total: 616ms	remaining: 0us
bestTest = 0.1606538038
bestIteration = 20
Shrink model to first 21 iterations.

# Loaded Test Data:

In [15]:
test_data = pd.read_csv('D:\\ML\\DL Repo\\JOB-A-THON - January 2023\\test.csv')

# Prediction on test data:

In [16]:
y_pred = model.predict(test_data[train_columns])

D:\Anaconda\envs\GPU\lib\site-packages\catboost\core.py:1411: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  self._init_pool(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,

# Creation/export Submission data

In [17]:
np.array(test_data['id']).shape

(59595,)

In [18]:
test_result = pd.DataFrame([test_data['id'].squeeze(),y_pred]).T

In [19]:
test_result.head()

        id      Unnamed 0
0  89393.0   97108.752827
1  89394.0  128883.512428
2  89395.0   91402.320843
3  89396.0   89359.994656
4  89397.0  136291.065376

In [20]:
test_result = test_result.rename(columns={'Unnamed 0':'cltv'})
test_result.head()

        id           cltv
0  89393.0   97108.752827
1  89394.0  128883.512428
2  89395.0   91402.320843
3  89396.0   89359.994656
4  89397.0  136291.065376

In [21]:
test_result.to_csv('D:\\ML\\DL Repo\\JOB-A-THON - January 2023\\test_result_CBR.csv',index=False)